{% extends 'base.html' %}

{% block content %}
<section class="page-section">
<div class="container">
<h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Products</h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
    <div class="row">
         {% for product in products %}
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src={{ product.image_url }} style="height: 200px;" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{product.name }}</h5>
                        <p class="card-text">₹ ${{product.price}}</p>
                        <a href="#" class="btn btn-primary">Add to cart</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
</section>
{% endblock %}